:root {
  --vert : darkseagreen;
  --noir : #383838;
  --blanc: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--noir);
  display: flex;
}
img{
  width: 100%;
  vertical-align: bottom;
}
.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.container {
  min-height: calc(100vh - 60px);
  min-width: calc(100vw - 250px);
}
#masthead {
  background-color: var(--vert);
  width: 250px;
  a{
    transition: all 0.2s;
    &:hover{
      color: var(--blanc);
      background-color: #709370;
    }
  }
  .logo img{
    width: 50%;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    li a {
      color: var(--noir);
      font-weight: bold;
      display: block;
      padding: 1rem 0;
      &:hover{

      }
    }
  }
}

#colophon {
  background-color: var(--vert);
  color: var(--blanc);
  padding: 1rem 0;
  text-align: center;
  height: 60px;
  font-weight: bold;
}